body {
  background: url('../../Pictures/bk1.jpg') no-repeat center center;
    margin: 0;
    padding: 0;
}

.heading{
    text-align: center;
    font-size: 38px;
    color: #483e00;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
    padding: 60px;
    margin: 0px;
}

.container{
  max-width: 700px;
  width: 100%;
  background-color: #ffffffac;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 25px  rgba(0, 0, 0, 0.5);
  margin: auto;
  margin-bottom: 50px;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: #5a4c00;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #232535;
}
 form .food-details .food-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .option{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .option label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .option label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .option label .one,
 #dot-2:checked ~ .option label .two,
 #dot-3:checked ~ .option label .three{
   background: #000000;
   border-color: #d9d9d9;
}

form input[type="radio"]{
   display: none;
}
form .button{
   height: 45px;
   margin: 35px 0
}

form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #5a4c00;
   box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
}

form .button input:hover{
  transform: scale(1.05);
}


.input-pic {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.input-pic input[type="file"] {
  padding: 5px;
  border: 1.5px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.input-pic input[type="file"]::file-selector-button {
  background: #6e5d00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.input-pic input[type="file"]::-webkit-file-upload-button:hover,
.input-pic input[type="file"]::file-selector-button:hover {
  transform: scale(1.05);
}



 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

