.navbar {
    margin: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: #473c00;
    padding: 20px;
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    height: 100%;
    width: 200px;
}

.navbar-collapse {
    flex-grow: 1;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    flex-direction: column;
    position: relative;
}

.nav-item {
    position: relative;
}

.nav-item:last-child {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #bdbdbd;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

.nav-link:active {
    color: #000000;
    background: #ffffff;
}

.dropdown-menu {
    display: none;
    position: relative;
    top: 100%;
    left: 10px;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}

.dropdown-item {
    display: block;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #ffffff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}